
.center{
    flex-wrap: wrap;
    max-width: 1300px;
    padding: 0 2%;
    margin:0 auto ;
    text-align: center;
    justify-content: center;
}

.titulo{
    font-family: "Helvetica" ,sans-serif;
    padding-top: 40px;
    color: #708090;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B0E0E6;
}
#card-colecoes{
    display: flex;
    padding-top: 50px;
    margin-bottom: 50px;
}
.card img{
    width: 100%;
}
.card{
    margin-inline: 20px;
    box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
    background-color: #F0F8FF;
    width: 33%;
    height: 600px;
}
.card h3{
    padding-top: 30px;
    color: #708090;
    font-size: 20px;
    height: 2.7rem;
    margin-inline: 30px;
}

.card p{
    line-height: 20px;
    color: #708090;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:968px){
    #card-colecoes{
        display: block;
        
    }
    .card{
        width: 75%;
        margin-bottom: 40px;
        margin-inline: 12.5%;
        
        
    }
    .card p{
        padding-top: 80px;
    }

    #bloco{
        display: flex;
    }


}